* {
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
    -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
    -moz-transition-property: all;
}

body {
    background: #1b1b2b;
    padding: 10px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #c0c0c0;
    font-weight: 100;
}

/* Navbar */
.btn {
    color: #999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 20px;
    color: #1b1b1b;
}

/* End Navbar */

/* Slider */
.slider {
    margin: 50px auto;
    max-width: 1080px;
}

.slide_viewer {
    height: 540px;
    overflow: hidden;
    position: relative;
}

.slide_group {
    height: 100%;
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}

.slide:first-child {
    display: block;
}

.slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
}

.directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -440px;
}

.previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
}

.next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
}

.previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
}

.previous_btn:hover, .next_btn:hover {
    opacity: 1;
}

@media only screen and (max-width: 767px) {
    .previous_btn {
        left: 50px;
    }

    .next_btn {
        right: 50px;
    }
}

/* End Slider */

/* Columns Layout */
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* End Columns Layout */

/* Modal */
.exit-intent, .exit-intent1, .exit-intent2, .exit-intent3 {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    z-index: 7;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto
}

.exit-intent {
    position: fixed;
    max-width: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}

.exit-intent:target {
    visibility: visible;
    opacity: 1;
}

.exit-intent-close {
    position: absolute;
    max-width: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
}

.exit-intent .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px;
    color: #000;
    font-size: 2em;
    line-height: 0.6em;
    font-weight: bold;
}

.exit-intent .close:hover {
    color: #999;
}

.close-exit-intent {
    background: rgba(0, 0, 0, 0.7);
    cursor: default;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}

.exit-intent:target + .close-exit-intent {
    opacity: 1;
    visibility: visible;
}

/* End Modal */

/* Form */
.form__group {
    position: relative;
    padding: 15px 100px 0;
    width: 50%;
}

.form__field {
    font-family: Oswald, sans-serif;
    width: 100%;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown ~ .form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: whitesmoke;
}

.form__field:focus {
    ~ .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: lightgray;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, blue, blueviolet);
}

.form__field {
    &:required, &:invalid {
        box-shadow: none;
    }
}

/* End Form */

/* Footer */
.footer1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Oswald, sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --theme-col: #2d4bf0;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.f-item-con {
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}

footer .app-name {
    color: white;
    border-left: 4px solid red;
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

.app-name .app-initial {
    color: var(--theme-col);
}

footer .app-info p {
    color: white;
    padding-left: 1.65rem;
}

footer .footer-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid red;
    padding-left: 1.5rem;
    height: fit-content;
}

footer ul {
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem;
    margin-top: .5rem;
}

footer ul li {
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}

footer ul li:hover {
    color: white;
}

footer .help-sec {
    grid-column-start: 2;
}

footer .cr-con {
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}

.g-i-t {
    position: relative;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.g-i-t form {
    display: flex;
    flex-direction: column;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

form .g-inp {
    padding: .25rem .5rem;
    font-size: 16px;
}

.g-inp textarea {
    height: 150px;
}

.f-btn {
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* End Footer */

.logo {
    margin-top: -30px;
    height: 200px;
}

.btn-active {
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

.img-slider {
    width: 1080px;
    height: auto;
}

.line {
    border: none;
    height: 3px;
    background-color: red;
    border-radius: 25px;
}

.column-index {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    text-align: left;
    font-weight: bold;
}

.column-top {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: bold;
}

.img-index {
    width: 400px;
}

.img-shows {
    width: 300px;
    border-radius: 10%;
}

.modal-shows {
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.img-modal {
    width: auto;
}

.row-shows {
    margin-bottom: 50px;
    margin-top: 50px;
}

.img-top1 {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.img-top2 {
    width: 100px;
    border-radius: 10%;
}

table {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: bold;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.container {
    height: 600px;
    color: white;
    padding-top: 30px;
    width: auto;
    margin: 30px 15%;
    background-color: #3e4772;
    border-radius: 3%;
}

.img-contact {
    width: 200px;
    border-radius: 10%;
}